
<div class="tablos shadow rounded-3">
  <app-search-client></app-search-client>
<h1>Liste des clients</h1>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Cin</th>
    <th scope="col">Adress</th>
    <th scope="col"> Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients , index as i">
    <td>{{ client.nom }}</td>
    <td>{{ client.prenom }}</td>
    <td>{{ client.cin}}</td>
    <td>{{client.adresse}}</td>
    <td>
      <button class="delete" (click)="deleteByCin(client,i)"><i class="fa fa-trash"></i> Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
