<h1>Liste des clients</h1>
<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Cin</th>
    <th>Adress</th>
    <th> Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients , index as i">
    <td>{{ client.nom }}</td>
    <td>{{ client.prenom }}</td>
    <td>{{ client.cin}}</td>
    <td>{{client.adresse}}</td>
    <td>
      <button class="delete" (click)="deleteByCin(client,i)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>

