<h1>Liste des clients</h1>
<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Cin</th>
    <th></th>
  </tr>
  <tr>
    <td>Dupont</td>
    <td>Marie</td>
    <td>marie.dupont@gmail.com</td>
    <td>EE2345</td>
    <td>
      <button class="delete"><i class="fa fa-trash"></i>Supprimer</button>
      <button class="admin"><i class="fa fa-crown"></i>Rendre admin</button>
    </td>
  </tr>
  <tr>
    <td>Leclerc</td>
    <td>Antoine</td>
    <td>antoine.leclerc@hotmail.com</td>
    <td>E151413</td>
    <td>
      <button class="delete"><i class="fa fa-trash"></i>Supprimer</button>
      <button class="admin"><i class="fa fa-crown"></i>Rendre admin</button>
    </td>
  </tr>
  <tr>
    <td>Dubois</td>
    <td>Lucie</td>
    <td>lucie.dubois@yahoo.fr</td>
    <td>A15613</td>
    <td>
      <button class="delete"><i class="fa fa-trash"></i>Supprimer</button>
      <button class="admin"><i class="fa fa-crown"></i>Rendre admin</button>
    </td>
  </tr>
</table>


