
<div class="tablos shadow rounded-3">
  <h1>Liste des remboursements</h1>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Code de livraison</th>
      <th scope="col">Livraison</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of remboursements , index as i">
      <td>{{ r.code }}</td>
      <td>{{ r.client.nom }}</td>
      <td>{{ r.commande.ref}}</td>

      <td>
        <button class="delete" (click)="deleteByCode(r,i)"><i class="fa fa-trash"></i> Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
