
<div class="container">
  <app-search-remboursement></app-search-remboursement>
  <h1>Liste des remboursements</h1>
  <table>
    <thead>
    <tr>
      <th>Code</th>
      <th>Code de livraison</th>
      <th>Livraison</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let remboursement of remboursements , index as i">
      <td>{{ remboursement.code }}</td>
      <td>{{ remboursement.avoirLivraison.code }}</td>
      <td>{{ remboursement.avoirLivraison.livraison}}</td>

      <td>
        <button class="delete" (click)="deleteByCode(remboursement,i)"><i class="fa fa-trash"></i> Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
