<table class="table table-bordered table-hover" >
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Adresse</th>
    <th>Ville</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
   <tr *ngFor="let lc of livraisonscommandes ; index as i">
    <td>{{ lc.livraison.achat.compte.client.nom }}</td>
    <td>{{ lc.livraison.achat.compte.client.prenom }}</td>
    <td>{{ lc.livraison.achat.compte.email }}</td>
    <td>{{ lc.livraison.achat.compte.client.adresse }}</td>
    <td>{{ lc.livraison.achat.compte.client.ville }}</td>
    <td><button class="btn btn-sm fa fa-trash">Supprimer</button></td>
  </tr>
  </tbody>
</table>



