

<div class="tablos shadow rounded-3">
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Email</th>
    <th scope="col">Adresse</th>
    <th scope="col">Ville</th>
    <th scope="col">Action</th>
  </tr>
  </thead>

  <tbody>
   <tr *ngFor="let lc of livraisonscommandes ; index as i">
    <td>{{ lc.livraison.achat.client.nom }}</td>
    <td>{{ lc.livraison.achat.client.prenom }}</td>
    <td>{{ lc.livraison.achat.client.compte.email }}</td>
    <td>{{ lc.livraison.achat.client.adresse }}</td>
    <td>{{ lc.livraison.achat.client.ville }}</td>
    <td><button class="btn btn-sm fa fa-trash">Supprimer</button></td>
  </tr>
  </tbody>
</table>
</div>



