<div class="accueil">
  <h1 class="mx-3 fw-bold pt-4">Overview</h1>
  <div class="accueilChart">
    <div class="courbe rounded shadow border border-info">
      <h5 class="fw-bold p-3"> Courbe</h5>
      <app-courbe></app-courbe>
    </div>
    <div class="pie rounded shadow border ">
      <h5 class="fw-bold p-3">Pie</h5>
      <app-piechart></app-piechart>
    </div>
    <div class="list rounded shadow border ">
      <h5 class="fw-bold p-3">List</h5>
      <app-list ></app-list>
    </div>
  </div>
</div>
