<div style="margin-left: 150px" class="tablos shadow rounded-3">
  <h1>Historique Commandes</h1>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
    <tr>
      <th scope="col">Référence</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Action</th>
    </tr>
    <tr *ngFor="let commande of commandes, index as i">
        <td>{{commande.ref }}</td>
        <td>{{ commande.date }}</td>
        <td>{{ commande.client.nom}}</td>
        <td>
          <button class="button" (click)="deleteByRef(commande,i)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer
          </button>
        </td>
    </tr>

  </table>
</div>
