<div class="card cardos">
  <div class="card-body">
    <div class="card-title"><h5>Ajout Magasin</h5></div>
    <div class="form-group">
      <label for="libelle" class="form-label fw-semibold">libelle</label>
      <input id="libelle" type="text" class="form-control" [(ngModel)]="magasin.libelle">
    </div>
    <div class="form-group">
      <label for="code" class="form-label fw-semibold">code</label>
      <input id="code" type="text" class="form-control" [(ngModel)]="magasin.code">
    </div>
    <div class="form-group">
      <label for="stock" class="form-label fw-semibold">Stock ref</label>
      <input id="stock" type="text" class="form-control" [(ngModel)]="stock.ref">
    </div>
    <div class="form-group">
      <label for="produit" class="form-label fw-semibold">Produit</label>
      <select name="produit" id="produit"[(ngModel)]="stock.produit">
        <option *ngFor="let i of  listProduit" [ngValue]="i" >{{i.nom}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="quantite" class="form-label fw-semibold">quantite</label>
      <input id="quantite" type="number" class="form-control" [(ngModel)]="stock.quantite">
    </div>
    <div class="form-group">
      <label for="quantiteEntree" class="form-label fw-semibold">quantite Entrée</label>
      <input id="quantiteEntree" type="number" class="form-control" [(ngModel)]="stock.quantiteEntree">
    </div>
    <div class="form-group">
      <label for="quantiteSortie" class="form-label fw-semibold">quantite Sortie</label>
      <input id="quantiteSortie" type="number" class="form-control" [(ngModel)]="stock.quantiteSortie">
    </div>
  </div>

    <button class="btn btn-blue align-self-center" (click)="save()">Valider</button>
</div>
