<div class="tablos shadow rounded-3">
  <app-search-fournisseur></app-search-fournisseur>
  <h1>Liste des fournisseurs</h1>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Ville</th>
      <th scope="col">Code</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of fournisseurs , index as i">
      <td>{{f.nom}}</td>
      <td>{{f.adresse}}</td>
      <td>{{f.ville}}</td>
      <td>{{f.code}}</td>
      <td>
        <button class="delete" (click)="deleteByCode(f,i)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</button>
    </tr>
    </tbody>
  </table>
</div>
