<div class="container">
  <h1>Liste des fournisseurs</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Ville</th>
      <th>Code</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of fournisseurs , index as i">
      <td>{{f.nom}}</td>
      <td>{{f.adresse}}</td>
      <td>{{f.ville}}</td>
      <td>{{f.code}}</td>
      <td>
        <button class="delete" (click)="deleteByCode(f,i)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</button>
    </tr>
    </tbody>
  </table>
</div>
