

.container {
  background-color: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 12px;
  /*position: absolute;*/
  /*top: 30%;*/
  /*left: 30%;*/
  width: 400px;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.mycla{
  font-size: small;
  top: 70px;
  width: 470px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 15px;
  color: #fff;
}
.myfr{
  overflow: hidden;
  margin-right: 25px;
  background-color: #00a7e1;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
}

h1 {
  font-size: 24px;
  margin-right: 0px;
  margin-top: 20px;
  text-align: right;
  color: #fff;
  display: inline-block;
}

.form-control {
  width: 80%;
  height: 39px;
  border: 1px solid;
  background: #ffffff;
  border-radius: 25px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.btn-primary {
  border-radius: 0;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 300px;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #00A7E1;
  border-color: #0062cc;
}

.form-check-input {
  margin-right: 5px;
}

.form-check-label {
  font-weight: normal;
}




