<!DOCTYPE html>
<html lang="en">
<head>
  <title>Livraison</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="livraison-create.component.css">
</head>
<body>
<div class="container myfr">
  <form>
    <h1>Livraison Formulaire</h1>
    <div class="mycla">
      <div class="form-group">
        <label for="name"><ion-icon name="person-circle-outline"></ion-icon> Nom:</label>
        <input type="text" class="form-control" id="name" name="name"  [(ngModel)]="livraison.achat.client.nom">
      </div>
      <div class="form-group">
        <label for="first-name"><ion-icon name="person-circle-outline"></ion-icon> Prénom:</label>
        <input type="text" class="form-control" id="first-name" name="first-name" [(ngModel)]="livraison.achat.client.prenom">
      </div>
      <div class="form-group">
        <label for="email"><ion-icon name="mail-outline"></ion-icon> Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="livraison.achat.client.compte.email">
      </div>
      <div class="form-group">
        <label for="address"><ion-icon name="location-outline"></ion-icon> Address:</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="livraison.achat.client.adresse">
      </div>
      <div class="form-group">
        <label for="city"><ion-icon name="pin-outline"></ion-icon> Ville:</label>
        <input type="text" class="form-control" id="city" name="city"  [(ngModel)]="livraison.achat.client.ville">
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Continuer</button>
    </div>
  </form>
</div>
</body>
</html>
