
<div class="tablos shadow rounded-3">

  <h1>Liste des achats</h1>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
     <tr *ngFor="let achat of achats , index as i">
      <td>{{ achat.code}}</td>
      <td>{{ achat.historiqueAchat.date}}</td>
      <td>{{ achat.historiqueAchat.total}}</td>
      <td><button class="delete-btn" (click)="deleteByCode(achat, i)"><i class="fa fa-trash"></i> Supprimer</button></td>

  </table>
</div>
