
<body>
<main>
  <h2>Recu</h2><br>
  <h3>CommerceX</h3>
  <h3>Téléphone  : 073187238713</h3>
  <p><time>Envoyer le 04/04/2023</time></p>
  <div class="tablos shadow rounded-3">
  <table class="client">
    <tr>
      <th scope="col">Recu pour</th>

      <th scope="col">remboursement</th>
    </tr>
    <tr>

      <td rowspan="2">Nom</td>

    </tr>

  </table>
  <hr size="1">
  </div>
  <div class="tablos shadow rounded-3">
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">

    <tbody>

    <tr>
      <th scope="col">Description</th>

      <th scope="col">Prix de  Produit</th>
      <th scope="col">Prix de livraison</th>
      <th scope="col">prix total</th>
    </tr>
    <tr>
      <td >product 1</td>

      <td>38,00$</td>
      <td>4,00$</td>
      <td>42,00$</td>
    </tr>
    <tr>
      <td>product 2</td>

      <td>200,00$</td>
      <td>4,00$</td>
      <td>204,00$</td>
    </tr>
    <tr>
      <td>product 3</td>

      <td>6,50$</td>
      <td>4,00$</td>
      <td>10,50</td>
    </tr>


    </tbody>
    <tfoot>
    <tr>
      <td >256,50$</td>
    </tr>
    <tr>
      <td colspan="3">Total</td>
      <td>256,50$</td>
    </tr>

    </tfoot>
  </table>
  </div>
</main>
</body>
