<header>
  <h1>Liste de produits</h1>
</header>
<table>
<thead>
<tr>
  <th>Nom</th>
  <th>Reference</th>
  <th>Prix De Vente</th>
  <th>Description</th>
  <th>Image</th>
  <th> Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let p of produits , index as i">
  <td>{{ p.nom }}</td>
  <td>{{ p.ref }}</td>
  <td>{{ p.prixVente}}</td>
  <td>{{p.description}}</td>
  <td>{{p.imgUrl}}</td>
  <td>
    <button class="delete" (click)="deleteByRef(p,i)"><i class="fa fa-trash"></i> Supprimer</button>
  </td>
</tr>
</tbody>
</table>


