
<div class="tablos shadow rounded-3">
<header>
  <h1>Liste de produits</h1>
</header>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">

<section class="product-list">
  <div class="product-item">
    <img class="image" src="assets/images/produit4.jpg" alt="Product image">
    <h2 scope="col">Product 1</h2>
    <p scope="col">Description du produit 1</p>
    <button>Acheter</button>
  </div>

  <div class="product-item">
    <img class="image" src="assets/images/produit2.jpg" alt="Product image">
    <h2 scope="col">Product 2</h2>
    <p scope="col">Description du produit 2</p>
    <button>Acheter</button>
  </div>

  <div class="product-item">
    <img  class="image" src="assets/images/produit3.jpg" alt="Product image">
    <h2 scope="col">Product 3</h2>
    <p scope="col">Description du produit 3</p>
    <button>Acheter</button>
  </div>

</section>
  </table>
</div>
