<div class="container">
  <h1>Historique des achats</h1>
  <table>
    <thead>
    <tr>
      <th>Référence</th>
      <th>Date</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ACH-001</td>
      <td>2022-03-26 15:30:00</td>
      <td>50 €</td>
      <td>
        <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>

      </td>
    </tr>
    <tr>
      <td>ACH-002</td>
      <td>2022-03-25 10:15:00</td>
      <td>25 €</td>
      <td>
        <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>

      </td>
    </tr>
    </tbody>
  </table>
</div>
