.tablos thead{
  background-color: #6c7ae0;
  color: white;
  margin-inline: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.tablos{
  width: 1000px;
  max-height: 500px;
  overflow: auto;


}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background-color: #6c7ae0;
  border-radius: 2px;
}
tr:nth-child(even){
  background-color: #f8f6ff;

}
tr:hover{
  background-color: #bfc3ec;

}

.btn {
  display: inline-block;
  padding: 10px;
  background-color: #003459;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #003459;
}
.btn-danger {
  background-color: #003459;
}
.btn-danger:hover {
  background-color: #00171F;
}
.fa {
  font-size: 20px;
  margin-right: 5px;
}
.fa-trash {
  color: #00A7E1;
}

