<div class="container">
  <h1>Historique des achats</h1>
  <table>
    <tr>
      <th>Référence</th>
      <th>Date</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let h of historiqueAchats, index as i">
      <td>{{historiqueAchat.ref }}</td>
      <td>{{ historiqueAchat.date }}</td>
      <td>{{ historiqueAchat.total}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteByRef(historiqueAchat,i)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</button>
  </table>
</div>
