<div class="tablos shadow rounded-3">
  <h1>Historique des achats</h1>
  <table class="table table-hover text-center table-bordered table-responsive rounded-3">
    <tr>
      <th scope="col">Référence</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Action</th>
    </tr>
    <tr *ngFor="let h of historiqueAchats, index as i">
      <td>{{historiqueAchat.ref }}</td>
      <td>{{ historiqueAchat.date }}</td>
      <td>{{ historiqueAchat.total}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteByRef(historiqueAchat,i)"><i class="fa fa-trash" aria-hidden="true"></i>Supprimer</button>
  </table>
</div>
