

    <header>
      <img src="image/simo.jpg" alt="Logo">
    </header>
    <main>
      <form>
        <h1>Demande de remboursement</h1>
        <hr>
        <table>
          <tr>
            <td> <label for="code">Code :</label></td>
            <td><input type="text" id="code" name="code" required  [(ngModel)]="remboursement.code"></td>
          </tr>
          <tr>
            <td><label for="Article">Article :</label></td>
            <td><input type="text" id="Article" name="Article" [(ngModel)]="commande.ref"></td>
          </tr>
          <tr>
            <td><label for="capture">Capture d'écran :</label></td>
            <td><input type="file" id="capture" name="capture"><br></td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit" value="Soumettre" (click)="save()"><br></td>
          </tr>
        </table>
      </form>
    </main>
    <footer>
      <a href="recu.html">Voir le reçu de remboursement</a>
    </footer>

