<div class="containeros">
  <div class="center">
    <h1>Login</h1>
    <div class="formus">
      <div class="txt_field">
        <label for="email"><h6>Email</h6></label>
        <input id="email" type="text" placeholder="Your Email" [(ngModel)] = "compte.email">
        <span></span>
      </div>
      <div class="txt_field">
        <label for="password"><h6>Password</h6></label>
        <input id="password" type="password" placeholder="password" [(ngModel)] = "compte.motDePasse">
        <span></span>

      </div>
      <input class="btn" value="Login" type="submit" (click)="findByEmail()">
      <div class="signup_link">
        Not a member? <button class="btn" (click)="goToSignup()">Signup</button>
      </div>
    </div>
  </div>
  </div>


