<div class="whole_card">
<div class="card cardi"><i class="fa fa-users fa-2x"></i> <h5>Clients</h5></div>
  <div class="card cardi"><i class="fa fa-train fa-2x"></i> <h5>Fournisseurs</h5></div>
  <div class="card cardi"><i class="fa fa-pie-chart fa-2x"></i> <h5>Catégories Produits</h5></div>
  <div class="card cardi"><i class="fa fa-shopping-basket fa-2x"></i> <h5>Magasins</h5></div>
  <div class="card cardi"><i class="fa fa-archive fa-2x"></i> <h5>Stocks</h5></div>
  <div class="card cardi"><i class="fa fa-money fa-2x"></i> <h5>Achats</h5></div>
</div>
