<div class="card cardos">
  <div class=" card imge">
    <input type="image" src="" alt="....">
    <label  class="form-label fw-semibold">image</label>
  </div>
  <div class="card cardos-info">
    <div class="card-body">
      <div class="card-title"><h5>Ajout Produit</h5></div>
      <div class="form-group">
        <label for="nom" class="form-label fw-semibold">Nom</label>
        <input id="nom" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label for="refrence" class="form-label fw-semibold">Refrence</label>
        <input id="refrence" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label for="prix" class="form-label fw-semibold">Prix </label>
        <input id="prix" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label for="categorieProduit" class="form-label fw-semibold">Categorie Produit</label>
        <input id="categorieProduit" type="text" class="form-control" >
      </div>
    </div>
    <button class="btn btn-blue align-self-center" >Valider</button>
  </div>
</div>
