<div class="main_content">
  <div>
    <p>Nouvelle Collection</p>
    <img src="../../../../assets/images/4.jpg" class="item_main1" />
  </div>
  <div>
    <p>Collection Estivale</p>
    <img src="../../../../assets/images/5.jpg" class="item_main2" />
  </div>
</div>
<div class="other">
  <div>
    <p>Une pièce culte</p>
    <img src="../../../../assets/images/1.jpeg" />
  </div>
  <div>
    <p>Collection Spéciales</p>
    <img src="../../../../assets/images/2.jpeg" />
  </div>
  <div>
    <p>Collaboration</p>
    <img src="../../../../assets/images/3.jpeg" />
  </div>
</div>
<div class="recomm">
  <h1>Recommendation</h1>
  <div class="recomm_img">
    <div>
      <img src="../../../../assets/images/6.jpg" />
      <p>Style Été</p>
    </div>
    <div>
      <img src="../../../../assets/images/7.jpg" class="test" />
      <p>Style Automne</p>
    </div>
    <div>
      <img src="../../../../assets/images/8.jpg" />
      <p>Style Hiver</p>
    </div>
  </div>
</div>
<app-produit-list></app-produit-list>
