<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-livraison-create></app-livraison-create>
    </div>

    <div class="col-md-6">
      <app-livraison-list></app-livraison-list>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-livraison-commande-create></app-livraison-commande-create>
    </div>

    <div class="col-md-6">
      <app-livraison-commande-list></app-livraison-commande-list>
    </div>

  </div>
</div>


