<div class="container">
  <h1>Ajouter un fournisseur</h1>
  <form>
    <form #f="ngForm" (submit)="onSubmit(f)">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" class="form-control" placeholder="Entrez le nom du fournisseur" required [(ngModel)]="fournisseur.nom">
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" class="form-control" placeholder="Entrez l'adresse du fournisseur" required [(ngModel)]="fournisseur.adresse">
    </div>
    <div class="form-group">
      <div class="inputBox"></div>
      <app-ville-list [(ngModel)]="fournisseur.ville" ></app-ville-list>
     <!-- <input type="ville" id="ville" class="form-control" placeholder="Entrez la ville du fournisseur" required [(ngModel)]="fournisseur.ville"> !-->
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input type="code" id="code" class="form-control" placeholder="Entrez le code du fournisseur" required [(ngModel)]="fournisseur.code">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid" (click)="save()" >Ajouter</button>
  </form>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  </form>
</div>



<div class="container">
  <h1>Liste des fournisseurs</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Ville</th>
      <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ABC Fournitures</td>
      <td>123 Rue des Fournisseurs</td>
      <td>Marrakech</td>
      <td>E56YT456</td>
    </tr>
    <tr>
      <td>XYZ Industries</td>
      <td>456 Rue des Industries</td>
      <td>Tanger</td>
      <td>TF432DS</td>
    </tr>
    </tbody>
  </table>
</div>
