
<section class="product">
  <div class="product-image">
    <div class="big-img">
    </div>
    <div class="images">
      <div class="img-smal" >
        <img src="#" onclick="showImg(this.src);">
      </div>
      <div class="img-smal">
        <img src="#" onclick="showImg(this.src);" >
      </div>
      <div class="img-smal">
        <img src="#"  onclick="showImg(this.src);">
      </div>
      <div class="img-smal">
        <img src="#" onclick="showImg(this.src);" >
      </div>
    </div>
  </div>
  <div class="product-details">
    <h2 class="product-name">Product Name</h2>
    <div class="product-rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <span class="product-rating-count">(4.5 out of 5)</span>
    </div>
    <p class="product-description">Description  du produit.</p>
    <ul class="product-features">
      <li>Reference : XXX</li>
      <li>Categorie Produit : XXX </li>

    </ul>
    <div class="product-price">
      <span class="product-price"> Prix : $XX.XX</span>

    </div>
    <button class="add-to-cart"> <i class="fa-solid fa-bag-shopping"></i>    Acheter</button>
    <button class="favorite"> <i class="fa-regular fa-heart"></i> favorite </button>
  </div>
</section>

