
<section class="product">
  <div class="product-image">
    <div class="big-img">
      <img src="image/XIN-YI-T-shirt-Kawaii-Hunter-X-Hunter-100-coton-pour-homme-haut-d-contract-de.jpg" >
    </div>
    <div class="images">
      <div class="img-smal" >
        <img src="image/XIN-YI-T-shirt-Kawaii-Hunter-X-Hunter-100-coton-pour-homme-haut-d-contract-de.jpg" onclick="showImg(this.src);">
      </div>
      <div class="img-smal">
        <img src="image/61CKoDDiI-L._AC_UX385_.jpg" onclick="showImg(this.src);" >
      </div>
      <div class="img-smal">
        <img src="image/Hdacac15f77df409f894455e9b8a871c98.jpg"  onclick="showImg(this.src);">
      </div>
      <div class="img-smal">
        <img src="image/1-17.jpg" onclick="showImg(this.src);" >
      </div>
    </div>
  </div>
  <div class="product-details">
    <h2 class="product-name">Product Name</h2>
    <div class="product-rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <span class="product-rating-count">(4.5 out of 5)</span>
    </div>
    <p class="product-description">Description of the product goes here.</p>
    <ul class="product-features">
      <li>Reference : XXX</li>
      <li>Categorie Produit : XXX </li>

    </ul>
    <div class="product-price">
      <span class="product-price"> Price : $XX.XX</span>

    </div>
    <button class="add-to-cart"> <i class="fa-solid fa-bag-shopping"></i>    ADD TO BAG</button>
    <button class="favorite"> <i class="fa-regular fa-heart"></i> FAVORITE</button>
  </div>
</section>

