<div class="head">
  <h1> CategorieProduit liste</h1>
</div>

<table>
  <tr >
    <th>Code</th>
    <th>Produits</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let c of categorieProduits, index as i">
    <td>{{c.code}}</td>
    <td>{{c.produits}}</td>
 <td>
  <button class="button button-add" (click)="save()">Add</button>
  <button class="button button-delete" (click)="deleteByCode(c,i)">Delete</button>
  <button class="button button-find" (click)="findAll()">Find</button>
 </td>
  </tr>
</table>
