<div class="head">
  <h1>Table de CategorieProduit</h1>
</div>
<table>
  <thead>
  <tr>

    <th>Code</th>
    <th>Produits</th>
  </tr>
  </thead>
  <tbody>
  <tr >

    <td>ABC123</td>
    <td>
      <ul>
        <li>Produit 1</li>
        <li>Produit 2</li>
        <li>Produit 3</li>
      </ul>
    </td>

  </tr>
  <tr >

    <td>DEF456</td>
    <td>
      <ul>
        <li>Produit 4</li>
        <li>Produit 5</li>
        <li>Produit 6</li>
      </ul>
    </td>

  </tr>
  <tr >

    <td>DEF488</td>
    <td>
      <ul>
        <li>Produit 7</li>
        <li>Produit 8</li>
        <li>Produit 9</li>
      </ul>
    </td>

  </tr>
  <tr >

    <td>DE4756</td>
    <td>
      <ul>
        <li>Produit 10</li>
        <li>Produit 11</li>
        <li>Produit 12</li>
      </ul>
    </td>

  </tr>
  </tbody>
</table>
<div class="button_cat">
  <button class="button button-add">Add</button>
  <button class="button button-delete">Delete</button>
  <button class="button button-find">Find</button>
</div>
