<div class="tablos shadow rounded-3">
  <h1> CategorieProduit liste :</h1>

<table class="table table-hover text-center table-bordered table-responsive rounded-3">
  <thead>
  <tr >
    <th scope="col">Code</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of categorieProduits, index as i">
    <td>{{c.code}}</td>
    <td>{{c.description}}</td>
 <td>
  <button class="button button-delete" (click)="deleteByCode(c,i)"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
 </td>
  </tr>
  </tbody>
</table>
</div>

