
  <!--<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./paiement-create.component.css">

</head> -->


<div class="container">

  <form action="">

    <div class="row">

      <div class="col">

        <h3 class="title">billing address</h3>

        <div class="inputBox">
          <span>nom :</span>
          <input type="text" placeholder="john "  name="nom" [(ngModel)]="paiement.commande.client.nom">
        </div>
        <div class="inputBox">
          <span>prenom :</span>
          <input type="text" placeholder=" deo"  name="prenom"[(ngModel)]="paiement.commande.client.prenom">
        </div>
        <div class="inputBox">
          <span>cin :</span>
          <input type="text" placeholder="EE287536" name="cin" [(ngModel)]="paiement.commande.client.cin">
        </div>


      </div>

      <div class="col">

        <h3 class="title">payment</h3>

        <div class="inputBox">
          <span>cards accepted :</span>
          <img src="../../../../assets/imagePaiement/card_img.png" alt="">
        </div>
        <div class="inputBox">
          <span>credit card number :</span>d
          <input type="number" placeholder="1111-2222-3333-4444" name="rib"[(ngModel)]="paiement.commande.client.rib">
        </div>
      </div>
    </div>
    <input type="submit" value="Save" class="submit-btn" (click)="save()">
  </form>
</div>



