<div class="tablos shadow rounded-3">
<table class="table table-hover text-center table-bordered table-responsive rounded-3">
  <thead>
  <tr class="">
    <th scope="col">Reference</th>
    <th scope="col">Stock</th>
    <th scope="col">Date Reception</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
</div>
