<div class="container">
<div class="center">
  <form id="signup-form">
    <h1>Sign Up</h1>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" [(ngModel)] = "client.nom">
    </div>
    <div class="form-group">
      <label for="lastname">last Name</label>
      <input type="text" id="lastname" name="lastname" [(ngModel)] = "client.prenom">
    </div>
    <div class="form-group">
      <label for="cin"> Cin</label>
      <input type="text" id="cin" name="cin" [(ngModel)] = "client.cin">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" >
    </div>
    <div class="form-group">
      <app-ville-list [(ngModel)] = "client.ville"></app-ville-list>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" >
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirm-password" >
    </div>
    <button type="submit" (click)="save()"> sign up</button>
  </form>
</div>
</div>
