
  <div class="card cardos-info">
    <div class="card-body">
      <div class="card-title"><h5>Ajout Produit</h5></div>
      <div class="form-group">
        <label for="nom" class="form-label fw-semibold">Nom</label>
        <input id="nom" type="text" class="form-control" name="nom" [(ngModel)]="produit.nom" >
      </div>
      <div class="form-group">
        <label for="refrence" class="form-label fw-semibold">Refrence</label>
        <input id="refrence" type="text" class="form-control" name="regerence"  [(ngModel)]="produit.ref">
      </div>
      <div class="form-group">
        <label for="prix" class="form-label fw-semibold">Prix </label>
        <input id="prix" type="text" class="form-control" name="prix"  [(ngModel)]="produit.prixVente">
      </div>
      <div class="form-group">
        <label for="image" class="form-label fw-semibold">Image</label>
        <input id="image" type="text"  class="form-control" name="image" [(ngModel)]="produit.image" >
      </div>
      <div class=" form-group">
        <label for="description" class="form-label fw-semibold">Description</label>
        <input  id="description" type="text" class="form-control" name="description" [(ngModel)]="produit.description">
    </div>
    <button class="btn btn-blue align-self-center"  (click)="save()">Valider</button>
  </div>
</div>
