<div class="tablos shadow rounded-3">
  <div class="card-footer"></div>
  <div class="card-body">

    <table class="table table-hover text-center table-bordered table-responsive rounded-3">
      <thead>
      <th scope="col"> id</th>
      <th scope="col">ville </th>
      <th scope="col">paiementEffectue </th>

      </thead>
      <tbody>
      <tr *ngFor="let p of paiements">
        <td> {{p.id}}</td>
        <td>{{p.commande.client.ville}}</td>
        <td>{{p.paiementEffectue}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
